.foodCard {
    width: 180px;
    height: 200px;
    border-radius: 20px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    box-sizing: border-box;
    padding: 15px;
    margin-right: 15px;
    flex-grow: 0;
    flex-shrink: 0;
}

.mainInfo {
    font-weight: 700;
    font-size: 16;
    word-wrap: break-word;
    z-index: 100;
    max-width: 80%;
}

.foodCardInfo {
    width: 100%;
    margin-top: 131px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.shadow {
    position: absolute;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    z-index: 10;
}

.cardProps {
    padding: 20px 10px 5px 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.cardProps p {
    font-size: 10px;
}

.elemProps {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    z-index: 100;
}

.elemProps p {
    margin-left: 7px;
}

@media all and (min-width: 450px) {
    .foodCard {
        margin-top: 40px;
        margin-right: 0;
    }
}
