.welcomeSearchBlock {
    width: 100%;
    height: auto;
    padding: 37px 0;
    background: linear-gradient(180deg, #617154 0%, #cfd983 236.82%);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcomeBlock {
    display: flex;
    width: 80%;
    align-items: center;
}

.welcomeText {
    display: flex;
    flex-direction: column;
    margin-left: 12px;
}

.welcomeText h2 {
    color: #fff;
    color: 16;
    font-weight: 600;
}

.welcomeText p {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    margin-top: 5px;
}

.search {
    width: 80%;
    height: 40px;
    background-color: #fff;
    border-radius: 30px;
    border: 0;
    margin-top: 33px;
    padding: 0 20px;
    display: flex;
    align-items: center;
    position: relative;
}

.searchIcon {
    position: absolute;
}

.searchInput {
    width: 100%;
    border: 0;
    padding-left: 30px;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}

.avatar {
    width: 61px;
    height: 61px;
}
