.CategoryFilterBlock {
    width: 100%;
    height: 50%;
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-template-rows: repeat(13, 20%);
    grid-column-gap: 30%;
    grid-row-gap: 10px;
    justify-content: center;
    overflow: auto;
} 

.CategotyHeader {
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 16px;
    font-weight: 500;
}

.CategoryInputBlock input[type=checkbox] {
	display: none;
}
.CategoryInputBlock label {
	display: inline-block;
	cursor: pointer;
	position: relative;
	padding-left: 25px;
	margin-right: 0;
	line-height: 18px;
	user-select: none;
}
.CategoryInputBlock label:before {
	content: "";
	display: inline-block;
	width: 17px;
	height: 18px;
	position: absolute;
	left: 0;
	bottom: 1px;
	background: url(./img/radio-1.png) 0 0 no-repeat;
}
 
/* Checked */
.CategoryInputBlock input[type=checkbox]:checked + label:before:checked {
	background: url(./img/radio-2.png) 0 0 no-repeat;
}
 
/* Hover */
.CategoryInputBlock label:hover:before {
	filter: brightness(120%);
}
 

.SeeMore {
    display: none;
    margin-top: 20px;
    width: 30%;
    height: 20%;
}

.BetweenBlock {

}

.FooterSearch {
    width: 100%;
    height: 20%;
    display: flex;
    flex-direction: row;
    position:fixed;
    left:0px;
    bottom:0px;
    background-image: url(./img/footer-background.png);
    background-size: 100% 100%;
    background-position: center center;

    
}

.SeeRecipeBlock, .ClearFilterBlock{
    width: auto;
    height: 20%;
    display: flex;
    margin-top: 60px;
    margin: auto;
}

.SeeRecipeBlock {
    padding-right: 40px;
}

.ClearFilterBlock {
}

.ClearFilterButton, .SeeRecipeButton {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 140px;
    padding: 5px 10px;
    border: 0;
    border-radius: 16px;
    color: #000;
    font-size: 15px;
    font-weight: 400;
    background-color: #FFF7D3;
}

.ClearFilterButton:hover, .SeeRecipeButton:hover {
    background-color: #F7BA33;
}

.search {
    width: 80%;
    height: 40px;
    background-color: #fff;
    border-radius: 30px;
    border-style: solid;
    border-color: grey;
    border-width: 1px;
    margin: 30px auto auto auto;
    display: flex;
    align-items: center;
    position: relative;
    padding-left: 10px;
}

.searchInput {
    width: 90%;
    padding-left: 10px;
    border: 0;
    font-size: 16px;
    font-weight: 400;
    color: #757575;
}